<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">$title$</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            $if(author)$
              $author$
            $else$
              $title$
            $endif$
          </li>
          <li><a href="mailto:$email$">$email$</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Glimpse of my Workbench</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Vasantha Ganesh Kanniappan</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
	  <li>
	    <a href="https://twitter.com/$twitter$">Twitter://$twitter$</a>
	  </li>
	  <li>
	    <a href="https://gitlab.com/$gitlab$">GitLab://$gitlab$</a>
	  </li>
	  <li>
	    <a href="https://github.com/$github$">GitHub://$github$</a>
	  </li>
	</ul>
      </div>
      
    </div>

  </div>

</footer>
