<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>$title$</title>
  <meta name="description" content="$tagline$">

  <link rel="stylesheet" href="/css/minima.css">
  <!-- Add canonical acess method, example a page should be reachable without the .html extension -->
  <!-- Add rss and email subscription?-->
												   
</head>
