<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <p class="post-meta">
      <time datetime="" itemprop="datePublished">
	Posted on $date$
      </time>
      $if(author)$
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">by $author$</span></span>
      $endif$</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    $body$

    <script id="dsq-count-scr" src="//hustlr.disqus.com/count.js" async></script>
  </div>
</article>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://hustlr.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
